<a href="https://colab.research.google.com/github/thiennguyen2709/Python-E-Wallet-Analysis-Project/blob/main/Python_K30_Nguy%E1%BB%85n_%C4%90%E1%BB%A9c_Thi%E1%BB%87n_Project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
payment_report = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Project 2/payment_report.csv")
product = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Project 2/product.csv")
transactions = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Project 2/transactions.csv")
payment_product = payment_report.merge(product, on = "product_id", how = "left")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

chỗ feedback này khi chấm chị đang chia thành 3 phần, em lưu ý để xem thêm nha ⭐:
* feedback chung (cho từng phần ở đầu mỗi phần)
* chi tiết syntax (comment trong các line bài làm của em)
* hướng giải (cho bài làm/syntax của em) chị add sau mỗi block code em làm

**Điểm mạnh**
* Em hiểu được những syntax cơ bản để xử lý các nhiệm vụ liên quan đến EDA (check missing, duplicates, datatypes).
* Có sự chủ động tìm hiểu đề đưa ra actions (hướng giải quyết hợp lý) khi EDA
* Người đọc có thể nắm rõ flow bài qua cách em trình bày

**Điểm cần cải thiện**
* Cách viết code để tối ưu hơn (ví dụ truyền các điều kiện vào để tự động filter thay vì input tay, chị có comment ở phần Data Wrangling á, em xem nhé)

# **Part I: EDA**

In [ ]:
#payment_report_EDA:
print(payment_product.head())
print(payment_product.describe())
print(payment_product.dtypes)
payment_product.info() #Có missing value
payment_product.duplicated().value_counts() #Không có duplicate

  report_month payment_group  product_id  source_id     volume  category  \
0      2023-01       payment          12         45  624110375   PXXXXXT
1      2023-01       payment          17         45  335715113   PXXXXXB
2      2023-01       payment          18         45  737784466   PXXXXXB
3      2023-01       payment          19         45  120963069  PXXXXXM2
4      2023-01       payment          20         45  319653158   PXXXXXB

  team_own
0      ASD
1      ASD
2      ASD
3      ASD
4      ASD
         product_id   source_id        volume
count    919.000000  919.000000  9.190000e+02
mean    1192.517954   44.875952  1.978574e+08
std     1293.463329    0.910995  8.367595e+08
min        3.000000   37.000000  5.500000e+03
25%      640.000000   45.000000  1.250000e+06
50%     1059.000000   45.000000  7.982015e+06
75%     1585.000000   45.000000  5.447599e+07
max    15067.000000   45.000000  1.383171e+10
report_month     object
payment_group    object
product_id        int64
source_id         int64
volume            int64
category         object
team_own         object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 919 entries, 0 to 918
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   report_month   919 non-null    object
 1   payment_group  919 non-null    object
 2   product_id     919 non-null    int64
 3   source_id      919 non-null    int64
 4   volume         919 non-null    int64
 5   category       897 non-null    object
 6   team_own       897 non-null    object
dtypes: int64(3), object(4)
memory usage: 50.4+ KB

False    919
Name: count, dtype: int64

In [ ]:
#Xử lý missing value của payment_report:
payment_product.isna().sum()/len(payment_product) #product không có missing value + tỷ lệ missing value < 5% => Thực hiện dropna
payment_product.dropna(subset = ["category", "team_own"], inplace = True)
payment_product.info()

<class 'pandas.core.frame.DataFrame'>
Index: 897 entries, 0 to 914
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   report_month   897 non-null    object
 1   payment_group  897 non-null    object
 2   product_id     897 non-null    int64
 3   source_id      897 non-null    int64
 4   volume         897 non-null    int64
 5   category       897 non-null    object
 6   team_own       897 non-null    object
dtypes: int64(3), object(4)
memory usage: 56.1+ KB

In [ ]:
#transactions_EDA
print(transactions.head())
print(transactions.describe())
print(transactions.dtypes) #Sai type
transactions.info() #Có missing value
transactions.duplicated().value_counts() #Có duplicate

   transaction_id  merchant_id   volume  transType  transStatus   sender_id  \
0      3002692434            5   100000         24            1  10199794.0
1      3002692437          305    20000          2            1  14022211.0
2      3001960110         7255    48605         22            1         NaN
3      3002680710         2270  1500000          2            1  10059206.0
4      3002680713         2275    90000          2            1  10004711.0

   receiver_id extra_info      timeStamp
0     199794.0        NaN  1682932054455
1   14022211.0        NaN  1682932054912
2   10530940.0        NaN  1682932055000
3      59206.0        NaN  1682932055622
4       4711.0        NaN  1682932056197
       transaction_id   merchant_id        volume     transType   transStatus  \
count    1.324002e+06  1.324002e+06  1.324002e+06  1.324002e+06  1.324002e+06
mean     3.002233e+09  2.460318e+03  2.388059e+05  6.979222e+00 -1.204625e+01
std      1.042606e+07  3.304277e+03  9.681009e+05  7.459714e+00  5.577823e+01
min      3.000000e+09  5.000000e+00  1.000000e+00  2.000000e+00 -1.333000e+03
25%      3.001121e+09  3.050000e+02  1.000000e+04  2.000000e+00  1.000000e+00
50%      3.002200e+09  2.250000e+03  3.000000e+04  2.000000e+00  1.000000e+00
75%      3.003255e+09  2.270000e+03  1.000000e+05  8.000000e+00  1.000000e+00
max      6.000066e+09  1.625250e+05  7.869148e+07  3.000000e+01  1.000000e+00

          sender_id   receiver_id     timeStamp
count  1.274943e+06  1.159207e+06  1.324002e+06
mean   1.033938e+08  2.084884e+08  1.683130e+12
std    6.234305e+08  9.287794e+08  1.707815e+08
min    1.000001e+07 -6.300000e+01  1.682874e+12
25%    1.005657e+07  1.526700e+05  1.682994e+12
50%    1.094193e+07  7.025130e+06  1.683097e+12
75%    2.101266e+07  3.151238e+07  1.683269e+12
max    6.993439e+09  2.100000e+10  1.683479e+12
transaction_id      int64
merchant_id         int64
volume              int64
transType           int64
transStatus         int64
sender_id         float64
receiver_id       float64
extra_info         object
timeStamp           int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1324002 entries, 0 to 1324001
Data columns (total 9 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   transaction_id  1324002 non-null  int64
 1   merchant_id     1324002 non-null  int64
 2   volume          1324002 non-null  int64
 3   transType       1324002 non-null  int64
 4   transStatus     1324002 non-null  int64
 5   sender_id       1274943 non-null  float64
 6   receiver_id     1159207 non-null  float64
 7   extra_info      6095 non-null     object
 8   timeStamp       1324002 non-null  int64
dtypes: float64(2), int64(6), object(1)
memory usage: 90.9+ MB

False    1323974
True          28
Name: count, dtype: int64

In [ ]:
#Xử lý missing value của transactions:
transactions.dropna(subset="sender_id", inplace = True) #Loại bỏ những missing value tại cột sender_id (tỷ lệ < 5%)

In [ ]:
#Xử lý wrong type của transactions:
transactions[["sender_id", "receiver_id"]] = transactions[["sender_id", "receiver_id"]].astype(str)
print(transactions.dtypes)

transaction_id     int64
merchant_id        int64
volume             int64
transType          int64
transStatus        int64
sender_id         object
receiver_id       object
extra_info        object
timeStamp          int64
dtype: object

In [ ]:
#Xử lý duplicates của transactions:
transactions.drop_duplicates(ignore_index=True)

,transaction_id,merchant_id,volume,transType,transStatus,sender_id,receiver_id,extra_info,timeStamp
0,3002692434,5,100000,24,1,10199794.0,199794.0,NaN,1682932054455
1,3002692437,305,20000,2,1,14022211.0,14022211.0,NaN,1682932054912
2,3002680710,2270,1500000,2,1,10059206.0,59206.0,NaN,1682932055622
3,3002680713,2275,90000,2,1,10004711.0,4711.0,NaN,1682932056197
4,3002680716,2270,200000,2,1,10162232.0,162232.0,NaN,1682932056816
...,...,...,...,...,...,...,...,...,...
1274911,3003723030,305,20000,2,1,24524311.0,nan,NaN,1683035672634
1274912,3003723033,2270,100000,2,1,10277242.0,277242.0,NaN,1683035672876
1274913,3003723036,2270,100000,2,1,10144599.0,144599.0,NaN,1683035672892
1274914,3003723039,5,400,22,1,10028007.0,21013762.0,NaN,1683035672896
1274915,3003602967,2250,1,8,1,38559843.0,24501638.0,NaN,1683035673053

In [ ]:
#payment_report_EDA:
print(payment_product.head())
print(payment_product.describe())
print(payment_product.dtypes)
payment_product.info() #Có missing value
payment_product.duplicated().value_counts() #Không có duplicate

  report_month payment_group  product_id  source_id     volume  category  \
0      2023-01       payment          12         45  624110375   PXXXXXT
1      2023-01       payment          17         45  335715113   PXXXXXB
2      2023-01       payment          18         45  737784466   PXXXXXB
3      2023-01       payment          19         45  120963069  PXXXXXM2
4      2023-01       payment          20         45  319653158   PXXXXXB

  team_own
0      ASD
1      ASD
2      ASD
3      ASD
4      ASD
         product_id  source_id        volume
count    897.000000      897.0  8.970000e+02
mean    1139.573021       45.0  1.338153e+08
std     1161.547355        0.0  4.614672e+08
min       12.000000       45.0  1.000000e+04
25%      634.000000       45.0  1.258000e+06
50%     1023.000000       45.0  7.469786e+06
75%     1578.000000       45.0  4.770741e+07
max    15067.000000       45.0  4.926051e+09
report_month     object
payment_group    object
product_id        int64
source_id         int64
volume            int64
category         object
team_own         object
dtype: object
<class 'pandas.core.frame.DataFrame'>
Index: 897 entries, 0 to 914
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   report_month   897 non-null    object
 1   payment_group  897 non-null    object
 2   product_id     897 non-null    int64
 3   source_id      897 non-null    int64
 4   volume         897 non-null    int64
 5   category       897 non-null    object
 6   team_own       897 non-null    object
dtypes: int64(3), object(4)
memory usage: 56.1+ KB

False    897
Name: count, dtype: int64

In [ ]:
#Xử lý missing value của payment_report:
payment_product.isna().sum()/len(payment_product) #product không có missing value + tỷ lệ missing value < 5% => Thực hiện dropna
payment_product.dropna(subset = ["category", "team_own"], inplace = True)
payment_product.info()

<class 'pandas.core.frame.DataFrame'>
Index: 897 entries, 0 to 914
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   report_month   897 non-null    object
 1   payment_group  897 non-null    object
 2   product_id     897 non-null    int64
 3   source_id      897 non-null    int64
 4   volume         897 non-null    int64
 5   category       897 non-null    object
 6   team_own       897 non-null    object
dtypes: int64(3), object(4)
memory usage: 56.1+ KB

In [ ]:
#transactions_EDA
print(transactions.head())
print(transactions.describe())
print(transactions.dtypes) #Sai type
transactions.info() #Có missing value
transactions.duplicated().value_counts() #Có duplicate

   transaction_id  merchant_id   volume  transType  transStatus   sender_id  \
0      3002692434            5   100000         24            1  10199794.0
1      3002692437          305    20000          2            1  14022211.0
3      3002680710         2270  1500000          2            1  10059206.0
4      3002680713         2275    90000          2            1  10004711.0
5      3002680716         2270   200000          2            1  10162232.0

  receiver_id extra_info      timeStamp
0    199794.0        NaN  1682932054455
1  14022211.0        NaN  1682932054912
3     59206.0        NaN  1682932055622
4      4711.0        NaN  1682932056197
5    162232.0        NaN  1682932056816
       transaction_id   merchant_id        volume     transType   transStatus  \
count    1.274943e+06  1.274943e+06  1.274943e+06  1.274943e+06  1.274943e+06
mean     3.002251e+09  2.345431e+03  2.326595e+05  6.309708e+00 -1.198007e+01
std      1.062164e+07  3.264930e+03  9.388377e+05  6.721366e+00  5.577171e+01
min      3.000000e+09  5.000000e+00  1.000000e+00  2.000000e+00 -1.333000e+03
25%      3.001144e+09  3.050000e+02  1.000000e+04  2.000000e+00  1.000000e+00
50%      3.002222e+09  2.250000e+03  3.000000e+04  2.000000e+00  1.000000e+00
75%      3.003274e+09  2.270000e+03  1.000000e+05  8.000000e+00  1.000000e+00
max      6.000066e+09  1.625250e+05  7.869148e+07  2.400000e+01  1.000000e+00

          timeStamp
count  1.274943e+06
mean   1.683130e+12
std    1.707737e+08
min    1.682874e+12
25%    1.682994e+12
50%    1.683097e+12
75%    1.683269e+12
max    1.683479e+12
transaction_id     int64
merchant_id        int64
volume             int64
transType          int64
transStatus        int64
sender_id         object
receiver_id       object
extra_info        object
timeStamp          int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
Index: 1274943 entries, 0 to 1324001
Data columns (total 9 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   transaction_id  1274943 non-null  int64
 1   merchant_id     1274943 non-null  int64
 2   volume          1274943 non-null  int64
 3   transType       1274943 non-null  int64
 4   transStatus     1274943 non-null  int64
 5   sender_id       1274943 non-null  object
 6   receiver_id     1274943 non-null  object
 7   extra_info      6095 non-null     object
 8   timeStamp       1274943 non-null  int64
dtypes: int64(6), object(3)
memory usage: 97.3+ MB

False    1274916
True          27
Name: count, dtype: int64

In [ ]:
#Xử lý missing value của transactions:
transactions.dropna(subset="sender_id", inplace = True) #Loại bỏ những missing value tại cột sender_id (tỷ lệ < 5%)

In [ ]:
#Xử lý wrong type của transactions:
transactions[["sender_id", "receiver_id"]] = transactions[["sender_id", "receiver_id"]].astype(str)
print(transactions.dtypes)

transaction_id     int64
merchant_id        int64
volume             int64
transType          int64
transStatus        int64
sender_id         object
receiver_id       object
extra_info        object
timeStamp          int64
dtype: object

In [ ]:
#Xử lý duplicates của transactions:
transactions.drop_duplicates(ignore_index=True)

,transaction_id,merchant_id,volume,transType,transStatus,sender_id,receiver_id,extra_info,timeStamp
0,3002692434,5,100000,24,1,10199794.0,199794.0,NaN,1682932054455
1,3002692437,305,20000,2,1,14022211.0,14022211.0,NaN,1682932054912
2,3002680710,2270,1500000,2,1,10059206.0,59206.0,NaN,1682932055622
3,3002680713,2275,90000,2,1,10004711.0,4711.0,NaN,1682932056197
4,3002680716,2270,200000,2,1,10162232.0,162232.0,NaN,1682932056816
...,...,...,...,...,...,...,...,...,...
1274911,3003723030,305,20000,2,1,24524311.0,nan,NaN,1683035672634
1274912,3003723033,2270,100000,2,1,10277242.0,277242.0,NaN,1683035672876
1274913,3003723036,2270,100000,2,1,10144599.0,144599.0,NaN,1683035672892
1274914,3003723039,5,400,22,1,10028007.0,21013762.0,NaN,1683035672896
1274915,3003602967,2250,1,8,1,38559843.0,24501638.0,NaN,1683035673053

In [ ]:
#payment_report_EDA:
print(payment_product.head())
print(payment_product.describe())
print(payment_product.dtypes)
payment_product.info() #Có missing value
payment_product.duplicated().value_counts() #Không có duplicate

  report_month payment_group  product_id  source_id     volume  category  \
0      2023-01       payment          12         45  624110375   PXXXXXT
1      2023-01       payment          17         45  335715113   PXXXXXB
2      2023-01       payment          18         45  737784466   PXXXXXB
3      2023-01       payment          19         45  120963069  PXXXXXM2
4      2023-01       payment          20         45  319653158   PXXXXXB

  team_own
0      ASD
1      ASD
2      ASD
3      ASD
4      ASD
         product_id  source_id        volume
count    897.000000      897.0  8.970000e+02
mean    1139.573021       45.0  1.338153e+08
std     1161.547355        0.0  4.614672e+08
min       12.000000       45.0  1.000000e+04
25%      634.000000       45.0  1.258000e+06
50%     1023.000000       45.0  7.469786e+06
75%     1578.000000       45.0  4.770741e+07
max    15067.000000       45.0  4.926051e+09
report_month     object
payment_group    object
product_id        int64
source_id         int64
volume            int64
category         object
team_own         object
dtype: object
<class 'pandas.core.frame.DataFrame'>
Index: 897 entries, 0 to 914
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   report_month   897 non-null    object
 1   payment_group  897 non-null    object
 2   product_id     897 non-null    int64
 3   source_id      897 non-null    int64
 4   volume         897 non-null    int64
 5   category       897 non-null    object
 6   team_own       897 non-null    object
dtypes: int64(3), object(4)
memory usage: 56.1+ KB

False    897
Name: count, dtype: int64

In [ ]:
#Xử lý missing value của payment_report:
payment_product.isna().sum()/len(payment_product) #product không có missing value + tỷ lệ missing value < 5% => Thực hiện dropna
payment_product.dropna(subset = ["category", "team_own"], inplace = True)
payment_product.info()

<class 'pandas.core.frame.DataFrame'>
Index: 897 entries, 0 to 914
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   report_month   897 non-null    object
 1   payment_group  897 non-null    object
 2   product_id     897 non-null    int64
 3   source_id      897 non-null    int64
 4   volume         897 non-null    int64
 5   category       897 non-null    object
 6   team_own       897 non-null    object
dtypes: int64(3), object(4)
memory usage: 56.1+ KB

In [ ]:
#transactions_EDA
print(transactions.head())
print(transactions.describe())
print(transactions.dtypes) #Sai type
transactions.info() #Có missing value
transactions.duplicated().value_counts() #Có duplicate

   transaction_id  merchant_id   volume  transType  transStatus   sender_id  \
0      3002692434            5   100000         24            1  10199794.0
1      3002692437          305    20000          2            1  14022211.0
3      3002680710         2270  1500000          2            1  10059206.0
4      3002680713         2275    90000          2            1  10004711.0
5      3002680716         2270   200000          2            1  10162232.0

  receiver_id extra_info      timeStamp
0    199794.0        NaN  1682932054455
1  14022211.0        NaN  1682932054912
3     59206.0        NaN  1682932055622
4      4711.0        NaN  1682932056197
5    162232.0        NaN  1682932056816
       transaction_id   merchant_id        volume     transType   transStatus  \
count    1.274943e+06  1.274943e+06  1.274943e+06  1.274943e+06  1.274943e+06
mean     3.002251e+09  2.345431e+03  2.326595e+05  6.309708e+00 -1.198007e+01
std      1.062164e+07  3.264930e+03  9.388377e+05  6.721366e+00  5.577171e+01
min      3.000000e+09  5.000000e+00  1.000000e+00  2.000000e+00 -1.333000e+03
25%      3.001144e+09  3.050000e+02  1.000000e+04  2.000000e+00  1.000000e+00
50%      3.002222e+09  2.250000e+03  3.000000e+04  2.000000e+00  1.000000e+00
75%      3.003274e+09  2.270000e+03  1.000000e+05  8.000000e+00  1.000000e+00
max      6.000066e+09  1.625250e+05  7.869148e+07  2.400000e+01  1.000000e+00

          timeStamp
count  1.274943e+06
mean   1.683130e+12
std    1.707737e+08
min    1.682874e+12
25%    1.682994e+12
50%    1.683097e+12
75%    1.683269e+12
max    1.683479e+12
transaction_id     int64
merchant_id        int64
volume             int64
transType          int64
transStatus        int64
sender_id         object
receiver_id       object
extra_info        object
timeStamp          int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
Index: 1274943 entries, 0 to 1324001
Data columns (total 9 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   transaction_id  1274943 non-null  int64
 1   merchant_id     1274943 non-null  int64
 2   volume          1274943 non-null  int64
 3   transType       1274943 non-null  int64
 4   transStatus     1274943 non-null  int64
 5   sender_id       1274943 non-null  object
 6   receiver_id     1274943 non-null  object
 7   extra_info      6095 non-null     object
 8   timeStamp       1274943 non-null  int64
dtypes: int64(6), object(3)
memory usage: 97.3+ MB

False    1274916
True          27
Name: count, dtype: int64

In [ ]:
#Xử lý missing value của transactions:
transactions.dropna(subset="sender_id", inplace = True) #Loại bỏ những missing value tại cột sender_id (tỷ lệ < 5%)

In [ ]:
#Xử lý wrong type của transactions:
transactions[["sender_id", "receiver_id"]] = transactions[["sender_id", "receiver_id"]].astype(str)
print(transactions.dtypes)

transaction_id     int64
merchant_id        int64
volume             int64
transType          int64
transStatus        int64
sender_id         object
receiver_id       object
extra_info        object
timeStamp          int64
dtype: object

In [ ]:
#Xử lý duplicates của transactions:
transactions.drop_duplicates(ignore_index=True)

,transaction_id,merchant_id,volume,transType,transStatus,sender_id,receiver_id,extra_info,timeStamp
0,3002692434,5,100000,24,1,10199794.0,199794.0,NaN,1682932054455
1,3002692437,305,20000,2,1,14022211.0,14022211.0,NaN,1682932054912
2,3002680710,2270,1500000,2,1,10059206.0,59206.0,NaN,1682932055622
3,3002680713,2275,90000,2,1,10004711.0,4711.0,NaN,1682932056197
4,3002680716,2270,200000,2,1,10162232.0,162232.0,NaN,1682932056816
...,...,...,...,...,...,...,...,...,...
1274911,3003723030,305,20000,2,1,24524311.0,nan,NaN,1683035672634
1274912,3003723033,2270,100000,2,1,10277242.0,277242.0,NaN,1683035672876
1274913,3003723036,2270,100000,2,1,10144599.0,144599.0,NaN,1683035672892
1274914,3003723039,5,400,22,1,10028007.0,21013762.0,NaN,1683035672896
1274915,3003602967,2250,1,8,1,38559843.0,24501638.0,NaN,1683035673053

# **Part II: Data Wrangling**

In [ ]:
#Using payment_report.csv & product.csv
#1. Top 3 product_ids with the highest volume
product_total_volume = payment_product.groupby("product_id")["volume"].sum().sort_values(ascending=False)
product_total_volume.iloc[:3] #Top 3 product_ids with the highest volume

product_id
429    14667676567
372    13713658515
431     7821984747
Name: volume, dtype: int64

In [ ]:
#2. Given that 1 product_id is only owed by 1 team, are there any abnormal products against this rule?
product[product.duplicated(subset="product_id")] #Không có sản phẩm nào xuất hiện 2 lần hay không có sản phẩm nào được sở hữu bởi 2 team trở lên

Empty DataFrame
Columns: [product_id, category, team_own]
Index: []

In [ ]:
#3.
#Find the team has had the lowest performance (lowest volume) since Q2.2023
data_since_Q2_2023 = payment_product[payment_product["report_month"] >= "2023-02"]
team_total_volume = data_since_Q2_2023.groupby("team_own")["volume"].sum().sort_values(ascending=True)
team_total_volume[:1] #APS is the team which has had the lowest performance (lowest volume) since Q2.2023

team_own
APS    270515602
Name: volume, dtype: int64

In [ ]:
#Find the category that contributes the least to that team
APS_product_payment_data = payment_product[payment_product["team_own"] == "APS"]
product_category_volume = APS_product_payment_data.groupby("category")["volume"].sum().sort_values(ascending=True)
product_category_volume[:1] #PXXXXXS is the category that contributes the least to that team

category
PXXXXXS    48974318
Name: volume, dtype: int64

In [ ]:
#4. Find the contribution of source_ids of refund transactions (payment_group = ‘refund’), what is the source_id with the highest contribution?
refund_report = payment_report[payment_report["payment_group"] == "refund"]
total_refund_volume = refund_report["volume"].sum()
source_id_volume = refund_report.groupby("source_id")["volume"].sum().divide(total_refund_volume).sort_values(ascending=False)
source_id_volume[:1] #38 is the source_id with the highest contribution

source_id
38    0.591082
Name: volume, dtype: float64

In [ ]:
#Using transactions.csv
#1. Define type of transactions (‘transaction_type’) for each row
def transaction_type(transType, merchant_id):
  if transType == 2 and merchant_id == 1205:
    return "Bank Transfer Transaction"
  elif transType == 2 and merchant_id == 2260:
    return "Withdraw Money Transaction"
  elif transType == 2 and merchant_id == 2270:
    return "Top Up Money Transaction"
  elif transType == 2 and merchant_id != [1205, 2260, 2270]:
    return "Payment Transaction"
  elif transType == 8 and merchant_id == 2250:
    return "Transfer Money Transaction"
  elif transType == 8 and merchant_id != 2250:
    return "Split Bill Transaction"
  else:
    return "invalid transactions"
transactions["type_transaction"] = transactions.apply(lambda x: transaction_type(x["transType"], x["merchant_id"]), axis=1)
print(transactions.head())

   transaction_id  merchant_id   volume  transType  transStatus   sender_id  \
0      3002692434            5   100000         24            1  10199794.0
1      3002692437          305    20000          2            1  14022211.0
3      3002680710         2270  1500000          2            1  10059206.0
4      3002680713         2275    90000          2            1  10004711.0
5      3002680716         2270   200000          2            1  10162232.0

  receiver_id extra_info      timeStamp          type_transaction
0    199794.0        NaN  1682932054455      invalid transactions
1  14022211.0        NaN  1682932054912       Payment Transaction
3     59206.0        NaN  1682932055622  Top Up Money Transaction
4      4711.0        NaN  1682932056197       Payment Transaction
5    162232.0        NaN  1682932056816  Top Up Money Transaction

In [ ]:
#2. Of each transaction type (excluding invalid transactions): find the number of transactions, volume, senders and receivers.
transaction_type_data = transactions[transactions["type_transaction"] != "invalid transactions"]
transaction_type_data.groupby("type_transaction").agg({"transaction_id": "count", "volume": "sum", "sender_id": "nunique", "receiver_id": "nunique"})

,transaction_id,volume,sender_id,receiver_id
type_transaction,,,,
Bank Transfer Transaction,37879,50605806190,23156,9272
Payment Transaction,398677,71851515181,139583,113299
Split Bill Transaction,1376,4901464,1323,572
Top Up Money Transaction,290502,108606478829,110409,110409
Transfer Money Transaction,341177,37033171492,39021,34585
Withdraw Money Transaction,33725,23418181420,24814,24814